* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  text-transform: uppercase;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
  background-color: #767467;
  color: #130417;
}
.container {
  margin: 20px;
  display: flex;
}
/* ВЕРТИКАЛЬНОЕ МЕНЮ */
.vertical_menu {
  width: 250px;
}

.vertical_menu_button {
  width: 100%;
  height: 40px;
  background-color: #ba8f78;
  border: 2px solid #2c0936;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  color: #2c0936;
  font-size: 1.5em;
  font-weight: 700;
}

.filters {
  width: 100%;
  background-color: #b2e3b3;
  padding: 20px;
  color: #2c0936;
  font-weight: 700;
  border: 2px solid #2c0936;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
fieldset {
  border: 2px solid #2c0936;
  background-color: #b2e3b3;
  padding: 5px;
  margin-bottom: 20px;
}

fieldset label {
  font-size: 0.75em;
}

.warning {
  display: none;
  background-color: #f4ecec;
  color: #a00909;
  font-size: 8px;
  text-align: center;
  width: 150px;
  margin: auto;
  padding: 3px 0;
  font-weight: 300;
  border: 1px solid #a00909;
}
.price {
  width: 140px;
  height: 24px;
  margin: 5px;
}

button.vertical_menu_button.apply {
  height: 30px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  font-size: 0.75rem;
  margin: auto;
}

.main_block {
  width: 80%;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

/* НАВИГАЦИОННЫЙ БЛОК */
.nav_block {
  width: 100%;
  display: flex;
  justify-content: center;
}
.input_group {
  width: 100%;
  display: flex;
  justify-content: center;
  column-gap: 2px;
}
.input_group input:first-child {
  width: 90%;
  height: 40px;
  border: 2px solid #2c0936;
  border-radius: 5px;
  padding-left: 20px;
}
.button_search {
  width: 40px;
  height: 40px;
  border: 2px solid #2c0936;
  border-radius: 5px;
  background-color: #b2e3b3;
}

.input_group i {
  font-size: 20px;
  color: #2c0936;
}

.sorting {
  margin: auto;
}

/* БЛОК С КНИГАМИ */
.all_books {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;
}

.all_books .book {
  max-width: 150px;
  height: 360px;
  display: flex;
  flex-direction: column;
  font-size: 0.7em;
}

.all_books .book img {
  width: 100%;
  height: 200px;
  border: 1px solid #2c0936;
  margin-bottom: 5px;
}
.book_author {
  font-size: 0.85em;
  font-weight: 700;
  height: 20px;
  margin: 5px;
  color: #561308;
}

/* КНОПКА ПЕРЕХОДА В КОРЗИНУ */

.go_to_cart a {
  display: block;
  width: 250px;
  height: 40px;
  color: #2c0936;
  font-weight: 700;
  background-color: #ba8f78;
  border: 2px solid #2c0936;
  text-decoration: none;
  border-radius: 5px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

a.back_to_catalog {
  display: inline-block;
  width: 100px;
  height: 30px;
  border-radius: 10px;
  padding: 5px;
  color: #2c0936;
  font-size: 0.8em;
  font-weight: 700;
  background-color: #ba8f78;
  border: 2px solid #2c0936;
  text-decoration: none;
  border-radius: 10px;
}

/* КОРЗИНА */

.cart_wrapper {
  width: 80%;
  background-color: #b2e3b3;
  margin: auto;
  border: 5px solid #130417;
  border-radius: 10px;
}

h2 {
  text-align: center;
  padding: 20px;
  color: #14552e;
}

.book {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  margin: auto;
  text-align: center;
  border: 2px solid #2c0936;
  border-radius: 10px;
  background-color: #c9b294;
  margin-bottom: 10px;
  padding: 15px;
}

.cart_wrapper img {
  max-width: 70px;
  border: 2px solid #130417;
}
.discription {
  width: 60%;
  display: flex;
  justify-content: space-between;
}

.book_year {
  font-weight: 400;
}

.book_quantity {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  column-gap: 20px;
}

.book_counter input {
  width: 50px;
  height: 30px;
}

.book_deleting {
  background-color: #bc8b71;
  padding: 10px;
  border-radius: 50%;
}

.book_deleting:hover {
  background-color: #b2e3b3;
}

.book_deleting i {
  font-size: 16px;
}

.book_price {
  color: #14552e;
  font-weight: 700;
  padding-top: 5px;
}

.cart_total {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: baseline;
  margin-bottom: 5px;
}

.cart_total .book_price {
  font-size: 20px;
}

.buy_button,
.clear {
  width: 100px;
  height: 30px;
  background-color: #89d890;
  border: 2px solid #2d6e51;
  border-radius: 10px;
  font-weight: 700;
}

.buy_button:hover,
.clear:hover {
  background-color: #dea67e;
}

.empty_cart {
  color: rgb(226, 208, 90);
  font-size: 24px;
  background-color: #ba8f78;
  width: 50%;
  padding: 10px;
  border: 2px solid #130417;
  border-radius: 10px;
  text-align: center;
  margin: auto;
  margin-bottom: 20px;
}

@media (min-width: 768px) and (max-width: 1023px) {
  .discription {
    width: 70%;
    justify-content: space-between;
  }
}
@media (min-width: 450px) and (max-width: 767px) {
  .sorting {
    display: flex;
  }
  .nav_block,
  .sorting {
    flex-direction: column;
    align-items: center;
  }
  .cart_total {
    flex-direction: column;
    align-items: center;
    row-gap: 20px;
  }
  .discription {
    width: 90%;
    flex-direction: column;
    align-items: center;
  }
}

@media (min-width: 320px) and (max-width: 449px) {
  .nav_block,
  .sorting {
    flex-direction: column;
    align-items: center;
    gap: 5px;
  }
  .sorting {
    display: flex;
  }
  .container {
    flex-direction: column;
    align-items: center;
  }
  .all_books {
    gap: 10px;
  }
  .all_books .book {
    max-width: 250px;
    height: 410px;
    font-size: 0.8em;
  }
  .all_books .book {
    border: 3px solid #2c0936;
  }
  .all_books .book img {
    width: 150px;
    height: 250px;
    margin: auto;
    margin-bottom: 10px;
  }
  .input_group,
  .search {
    width: 250px;
    margin: auto;
    margin: 10px;
  }
  .discription {
    width: 100%;
    flex-direction: column;
  }
  .cart_wrapper img {
    display: none;
  }
  .cart_total {
    flex-direction: column;
    align-items: center;
    row-gap: 10px;
  }
  .total_buttons {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
  }
  .total_buttons button,
  .total_buttons a {
    width: 200px;
    text-align: center;
  }
}
